<div class="container">

            <div class="row mb-2">
                <div class="col-3">
                    <div class="list-group mt-2 shadow">
                        <p class="list-group-item list-group-item-action bg-primary text-white">
                            Products
                        </p>
                        <a href="#" class="list-group-item list-group-item-action">View Products</a>
                    </div>

                    <div class="list-group mt-2 shadow">
                        <p class="list-group-item list-group-item-action bg-primary text-white">
                            Suppliers
                        </p>
                        <a href="#" class="list-group-item list-group-item-action">View Suppliers</a>
                    </div>

                    <div class="list-group mt-2 shadow">
                        <p class="list-group-item list-group-item-action bg-primary text-white">
                            Records
                        </p>
                        <a href="#" class="list-group-item list-group-item-action">Record Discrepancies</a>
                        <a href="#" class="list-group-item list-group-item-action">Add Delivery Details</a>
                        <a href="#" class="list-group-item list-group-item-action">Record Sales</a>
                        <a href="#" class="list-group-item list-group-item-action">Record Missing/Damaged Goods</a>
                    </div>
					<div class="list-group mt-2 shadow">
                        <p class="list-group-item list-group-item-action bg-primary text-white">
                            Settings
                        </p>
                        <a href="#" class="list-group-item list-group-item-action">Edit Profile</a>
                        <a href="/" class="list-group-item list-group-item-action">Logout</a>
                    </div>
                </div>