<div class="container">

            <div class="row mb-2">
                <div class="col-3">
                    <div class="list-group mt-2 shadow">
                        <p class="list-group-item list-group-item-action bg-primary text-white">
                            Products
                        </p>
                        <a href="/u/products" class="list-group-item list-group-item-action">View Products</a>
                    </div>

                    <div class="list-group mt-2 shadow">
                        <p class="list-group-item list-group-item-action bg-primary text-white">
                            Suppliers
                        </p>
                        <a href="/u/suppliers" class="list-group-item list-group-item-action">View Suppliers</a>
                    </div>

                    <div class="list-group mt-2 shadow">
                        <p class="list-group-item list-group-item-action bg-primary text-white">
                            Records
                        </p>
                        <a href="/u/newDiscrepancy" class="list-group-item list-group-item-action">Record Discrepancies</a>
                        <a href="/u/newDelivery" class="list-group-item list-group-item-action">Add Delivery Details</a>
                        <a href="/u/newSale" class="list-group-item list-group-item-action">Record Sales</a>
                        <a href="/u/newMDgoods" class="list-group-item list-group-item-action">Record Missing/Damaged Goods</a>
                    </div>
					<div class="list-group mt-2 shadow">
                        <p class="list-group-item list-group-item-action bg-primary text-white">
                            Settings
                        </p>
                        {{!-- <a href="#" class="list-group-item list-group-item-action">Edit Profile</a> --}}
                        <form action="/logout" method="post"><a class="nav-link text-black" onclick="this.parentNode.submit();">Logout</a></form>
                    </div>
                </div>