<tr>
    <th scope="row" class="text-center">{{getDate date}}</th>
    <td class="text-left">{{transaction}}</td>
    <td class="text-center">{{userID}}</td>
    <td class="text-right">{{getPrice amount}}</td>
</tr>