<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body class="bg-light">
    <div>
        <header class="container">
            <div class="jumbotron p-2 mb-0 shadow">
                <div class="row">
                    <div class="col-2 d-flex justify-content-center">
                        <img src=".\lovelyHF.png" alt="" style="width: 128px;
                        height: 91.02px;">
                    </div>
                    <div class="col-10">
                        <div class="display-4">Lovely Homes Furniture</div>
                    </div>
                </div>

            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-danger shadow">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-brand text-white">Login: admin</div>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>

        <div class="container">

            <div class="row mb-2">
                <div class="col-3">

                    <div class="list-group mt-2 shadow">
                        <p class="list-group-item list-group-item-action bg-danger text-white">
                            Users
                        </p>
                        <a href="#" class="list-group-item list-group-item-action">Employee</a>
                        <a href="#" class="list-group-item list-group-item-action">Managers</a>
                    </div>

                    <div class="list-group mt-2 shadow">
                        <p class="list-group-item list-group-item-action bg-danger text-white">
                            Products
                        </p>
                        <a href="#" class="list-group-item list-group-item-action">Manage Appliances</a>
                        <a href="#" class="list-group-item list-group-item-action">Manage Furnitures</a>
                        <a href="#" class="list-group-item list-group-item-action">Select Tresholds</a>
                    </div>

                    <div class="list-group mt-2 shadow">
                        <p class="list-group-item list-group-item-action bg-danger text-white">
                            Suppliers
                        </p>
                        <a href="#" class="list-group-item list-group-item-action">Manage Suppliers</a>
                    </div>

                    <div class="list-group mt-2 shadow">
                        <p class="list-group-item list-group-item-action bg-danger text-white">
                            Records
                        </p>
                        <a href="#" class="list-group-item list-group-item-action">Record Purchases</a>
                        <a href="#" class="list-group-item list-group-item-action">Add Delivery Details</a>
                        <a href="#" class="list-group-item list-group-item-action">Record Sales</a>
                        <a href="#" class="list-group-item list-group-item-action">Record Missing/Damaged Goods</a>
                    </div>

                    <div class="list-group mt-2 shadow">
                        <p class="list-group-item list-group-item-action bg-danger text-white">
                            For Approval
                        </p>
                        <a href="#" class="list-group-item list-group-item-action">Damage Goods Request</a>
                        <a href="#" class="list-group-item list-group-item-action">Below Tresholds</a>
                    </div>

                    <div class="list-group mt-2 shadow">
                        <p class="list-group-item list-group-item-action bg-danger text-white">
                            Reports
                        </p>
                        <a href="#" class="list-group-item list-group-item-action">View Inventory Report</a>
                        <a href="#" class="list-group-item list-group-item-action">Product Performance Report</a>
                    </div>

                    <div class="list-group mt-2 shadow">
                        <p class="list-group-item list-group-item-action bg-danger text-white">
                            Settings
                        </p>
                        <a href="#" class="list-group-item list-group-item-action">Edit Profile</a>
                        <a href="#" class="list-group-item list-group-item-action">Logout</a>
                    </div>

                </div>
                <div class="col-9">
                    <div class=" shadow">
                        <div class="d-flex flex-column mt-2">
                            <div class="container">
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <form class="form-inline justify-content-end">
                                            <input class="form-control mr-sm-2" type="search" placeholder="Search User" aria-label="Search">
                                            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="mt-1">
                                    Show
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                20
                                            </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">50</a>
                                            <a class="dropdown-item" href="#">100</a>
                                            <a class="dropdown-item" href="#">150</a>
                                        </div>
                                    </div>
                                    Entries
                                </div>

                            </div>
                            <div class="mt-2">
                                <table class="table table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">ProductID</th>
                                            <th scope="col">UserID</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Number</th>
                                            <th scope="col">Date</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">123456</th>
                                            <td>Jonathan</td>
                                            <td>Joestar</td>
                                            <td>@mdo</td>
                                            <td>123456789</td>
                                            <td></td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-success" disabled>Approve</button>
                                                    <button type="button" class="btn btn-outline-primary">View Details</button>
                                                    <button type="button" class="btn btn-outline-danger" disabled>Reject</button>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <th scope="row">234567</th>
                                            <td>Joseph</td>
                                            <td>Joestar</td>
                                            <td>@fat</td>
                                            <td>987654321</td>
                                            <td></td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-outline-success">Approve</button>
                                                    <button type="button" class="btn btn-outline-primary">View Details</button>
                                                    <button type="button" class="btn btn-outline-danger">Reject</button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">345678</th>
                                            <td>Jotaro</td>
                                            <td>Kujo</td>
                                            <td>@twitter</td>
                                            <td>963258741</td>
                                            <td></td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-outline-success">Approve</button>
                                                    <button type="button" class="btn btn-outline-primary">View Details</button>
                                                    <button type="button" class="btn btn-outline-danger">Reject</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination pagination-sm justify-content-end m-2">
                                        <li class="page-item"><a class="page-link text-dark" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link text-dark" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>

        <hr>
        <footer>
        </footer>

    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>