{{>a_navbar}}
{{>a_sidebar}}
            <div class="col-9">
                    <div class="shadow">
						<div class="d-flex flex-column mt-2">
                            <div class="container">
								<h1 class="display-4 text-center">Edit Supplier</h1>
							</div>
							<div class="container">
								<form>
									<div class="form-group">
										<label for="formGroupExampleInput2">Company Name</label>
										<p class="text-center text-capitalize">jojo's</p>
									</div>
									<div class="form-group">
										<label for="formGroupExampleInput">Company Address</label>
										<p class="text-center text-capitalize">bizzare adventure</p>
									</div>
									<div class="form-group">
										<label for="formGroupExampleInput2">Email</label>
										<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="New Email">
									</div>
									<div class="form-group">
										<label for="formGroupExampleInput2">Phone Number</label>
										<input type="number" class="form-control" id="formGroupExampleInput2" placeholder="09">
									</div>
								</form>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6 mb-5 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-outline-dark">Submit</button>
                                    </div>
                                    <div class="col-6 mb-5 d-flex justify-content-start">
                                        <button type="submit" class="btn btn-outline-secondary">Cancel</button>
                                    </div>
                                </div>
							</div>	
						</div>
                    </div>
                </div>


            </div>
        </div>
        </div>