{{>a_navbar}}
{{>a_sidebar}}
            <div class="col-9">
                    <div class="shadow">
						<div class="d-flex flex-column mt-2">
                            <div class="container">
								<h1 class="display-4 text-center">New User</h1>
							</div>
							<div class="container">
								<form>
									<div class="form-group">
										<label for="fName">First Name</label>
										<input type="text" class="form-control" id="fName" placeholder="First Name">
									</div>
									<div class="form-group">
										<label for="lName">Last Name</label>
										<input type="text" class="form-control" id="lName" placeholder="Last Name">
									</div>
									<div class="form-group row">
										<label for="birthdate" class="col-2 col-form-label">Birthday</label>
										<div class="col-10">
											<input class="form-control" type="date" id="birthdate">
											<script>
												Date.prototype.toDateInputValue = (function() {
													var local = new Date(this);
													local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
													return local.toJSON().slice(0, 10);
												});
												document.getElementById('birthdate').value = new Date().toDateInputValue();
											</script>
										</div>
									</div>
									<div class="form-group">
										<label for="gender">Gender</label>
										<select class="form-control" id="gender">
											<option>Male</option>
											<option>Female</option>
										</select>
									</div>
									<div class="form-group">
										<label for="address">Address</label>
										<input type="text" class="form-control" id="address" placeholder="Address">
									</div>
									<div class="form-group">
										<label for="phoneNum">Phone Number</label>
										<input type="text" class="form-control" id="phoneNum" placeholder="Phone Number">
									</div>
									<div class="form-group">
										<label for="password">Password</label>
										<input type="password" class="form-control" id="password" placeholder="Password">
									</div>
									<div class="form-group">
										<label for="confirm">Confirm Password</label>
										<input type="password" class="form-control" id="confirm" placeholder="Confirm Password">
									</div>
								</form>
                            <div class="form-group ">
                                <div class="row">
                                    <div class="col-6 mb-5 d-flex justify-content-end">
                                        <button type="button" class="btn btn-outline-dark" id ='submitNewUser'>Submit</button>
                                    </div>
                                    <div class="col-6 mb-5 d-flex justify-content-start">
                                        <a href="/a/users" class="btn btn-outline-secondary">Cancel</a>
                                    </div>
                                </div>
							</div>	
						</div>
                    </div>
                </div>


            </div>
        </div>
        </div>