{{>a_navbar}}
{{>a_sidebar}}
            <div class="col-9">
                    <div class="shadow">
						<div class="d-flex flex-column mt-2">
                            <div class="container">
								<h1 class="display-4 text-center">New Sale</h1>
							</div>
							<div class="container">
								<form>
									<div class="form-group">
										<label for="formGroupExampleInput2">Product ID</label>
										<div class="row">
											<div class="col-10"></div>
												<input type="number" class="form-control" id="newSale_prodID" placeholder="ID">
											<div class="col-2">
												<button type="button" class="btn btn-outline-dark" id="newSale-checkID">Check</button>
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<label for="formGroupExampleInput2">Quantity</label>
										<input type="number" class="form-control" id="newSale_qty" placeholder="Num">
									</div>
								<div class="form-group">
                                <label for="datePaid">Date Sold</label>
                                <div class="input-group mb-2">
                                    <input type="date" class="form-control" id="newSale_dateSold">
                                    <script>
                                        Date.prototype.toDateInputValue = (function() {
                                            var local = new Date(this);
                                            local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
                                            return local.toJSON().slice(0, 10);
                                        });
                                        document.getElementById('dateSold').value = new Date().toDateInputValue();
                                    </script>
                                </div>

                            	</div>
									<div class="form-group">
										<label for="totalCost">Selling Price</label>
											<div class="input-group mb-2 col-10">
											<div class="input-group-prepend">
												<div class="input-group-text">PHP</div>
											</div>
											<input type="number" class="form-control" id="newSale_sellingPrice" placeholder="0.00" disabled>
											</div>
									</div>
									<div class="form-group">
										<label for="totalCost">Total</label>
										<div class="input-group mb-2">
											<div class="input-group-prepend">
												<div class="input-group-text">PHP</div>
											</div>
											<input type="number" class="form-control" id="newSale_total" placeholder="0.00" disabled>
										</div>
									</div>
								</form>
                            <div class="form-group ">
                                <div class="row">
                                    <div class="col-6 mb-5 d-flex justify-content-end">
                                        <button type="button" class="btn btn-outline-dark" id="submitNewSale">Submit</button>
                                    </div>
                                    <div class="col-6 mb-5 d-flex justify-content-start">
                                        <a type="button" class="btn btn-outline-secondary" id="cancelNewSale">Cancel</a>
                                    </div>
                                </div>
							</div>	
						</div>
                    </div>
                </div>


            </div>
        </div>
        </div>