{{>a_navbar}}
{{>a_sidebar}}
            <div class="col-9">
                    <div class=" shadow">
                        <div class="d-flex flex-column mt-2">
                            <div class="container">
                                
                                <div class="mt-1">
                                    Show
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                20
                                            </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">50</a>
                                            <a class="dropdown-item" href="#">100</a>
                                            <a class="dropdown-item" href="#">150</a>
                                        </div>
                                    </div>
                                    Entries
                                </div>

                            </div>
                            <div class="mt-2">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Status</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Threshold</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Inactive</th>
                                            <td>Manual Input</td>
                                            <td>5</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-outline-dark">Activate</button>
                                                    <button type="button" class="btn btn-outline-dark">Update  </button>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Inactive</th>
                                            <td>Days</td>
                                            <td>4</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-outline-dark">Activate</button>
                                                    <button type="button" class="btn btn-outline-dark" disabled>Update  </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Active</th>
                                            <td>Years</td>
                                            <td>7</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-outline-dark">Activate</button>
                                                    <button type="button" class="btn btn-outline-dark">Update  </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Inactive</th>
                                            <td>Stock</td>
                                            <td>6</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-outline-dark">Activate</button>
                                                    <button type="button" class="btn btn-outline-dark">Update  </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Inactive</th>
                                            <td>Seaasonal</td>
                                            <td>5</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-outline-dark">Activate</button>
                                                    <button type="button" class="btn btn-outline-dark">Update  </button>
                                                </div>
                                            </td>
                                        </tr>                                      
                                    </tbody>
                                </table>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination pagination-sm justify-content-end m-2">
                                        <li class="page-item"><a class="page-link text-dark" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link text-dark" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>