{{>a_navbar}}
{{>a_sidebar}}
            <div class="col-9">
                    <div class=" shadow">
                        <div class="display-4 text-center">Record Purchases</div>
                        <form class="container mt-2">
                            <div class="form-group">
                                <label for="amountPaid">Amount Paid</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">PHP</div>
                                    </div>
                                    <input type="number" class="form-control" id="amountPaid" placeholder="0.00">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="datePaid">Date Paid</label>
                                <div class="input-group mb-2">
                                    <input type="date" class="form-control" id="datePaid">
                                    <script>
                                        Date.prototype.toDateInputValue = (function() {
                                            var local = new Date(this);
                                            local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
                                            return local.toJSON().slice(0, 10);
                                        });
                                        document.getElementById('datePaid').value = new Date().toDateInputValue();
                                    </script>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="totalCost">Amount Paid</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">PHP</div>
                                    </div>
                                    <input type="number" class="form-control" id="totalCost" placeholder="0.00">
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="row">
                                    <div class="col-6 mb-5 d-flex justify-content-end">
                                        <button type="button" class="btn btn-outline-danger ">Submit</button>
                                    </div>
                                    <div class="col-6 mb-5 d-flex justify-content-start">
                                        <button type="button" class="btn btn-outline-secondary ">Cancel</button>
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>