{{>a_navbar}}
{{>a_sidebar}}
            <div class="col-9">
                    <div class=" shadow">
                        <div class="d-flex flex-column mt-2">
                            <div class="container">
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <form class="form-inline justify-content-end">
                                            <input class="form-control mr-sm-2" type="search" placeholder="Search Products" aria-label="Search">
                                            <button class="btn btn-outline-primary my-2 my-sm-0" type="button">Search</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="mt-1">
                                    Show
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                20
                                            </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">50</a>
                                            <a class="dropdown-item" href="#">100</a>
                                            <a class="dropdown-item" href="#">150</a>
                                        </div>
                                    </div>
                                    Entries
                                </div>

                            </div>
                            <div class="mt-2">
                                <table class="table table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">ProductID</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Current Stock</th>
                                            <th scope="col">Selling Price</th>
                                            <th scope="col">Supplier Name</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">123456</th>
                                            <td>Bizzare Adventures Inc.</td>
                                            <td>123456789</td>
                                            <td>@mdo</td>
                                            <td>Wolololo</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-outline-dark">View Details</button>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <th scope="row">234567</th>
                                            <td>Arknights Addicts Co.</td>
                                            <td>987654321</td>
                                            <td>@fat</td>
                                            <td>69420 St.</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-outline-dark">View Details</button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">345678</th>
                                            <td>Dame Da Ne ltd.</td>
                                            <td>963258741</td>
                                            <td>@twitter</td>
                                            <td>bakamitai</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-outline-dark">View Details</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination pagination-sm justify-content-end m-2">
                                        <li class="page-item"><a class="page-link text-dark" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link text-dark" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>