{{>a_navbar}}
{{>a_sidebar}}
            <div class="col-9">
                    <div class="shadow">
						<div class="d-flex flex-column mt-2">
                            <div class="container">
								<h1 class="display-4 text-center">Supplier Details</h1>
							</div>
							<div class="container">
								<form>
									<div class="form-group">
										<label for="formGroupExampleInput2">Company Name</label>
										<p class="text-center text-capitalize">jojo's</p>
									</div>
									<div class="form-group">
										<label for="formGroupExampleInput">Company Address</label>
										<p class="text-center text-capitalize">bizzare adventure</p>
									</div>
									<div class="form-group">
										<label for="formGroupExampleInput2">Email</label>
										<p class="text-center text-capitalize">9/11</p>
									</div>
									<div class="form-group">
										<label for="formGroupExampleInput2">Phone Number</label>
										<p class="text-center text-capitalize">619</p>
									</div>
								</form>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12 mb-5 d-flex justify-content-center">
                                        <button type="button" class="btn btn-outline-primary">Back</button>
                                    </div>
                                </div>
							</div>	
						</div>
                    </div>
                </div>


            </div>
        </div>
        </div>